.cartitaGeneralContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.cartitaContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cartitaTitleImgContainer{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 15rem 0 0;
}

.cartitaTitleImg{
    width: 35%;
    height: auto;
    align-self: flex-start;
    position: relative;
    bottom: 130px;
}

.cartitaContainer2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cartitaLineImgContainer{
    width: 25%;
    height: auto;
    position: relative;
    left: 15%;
}

.cartitaLineImg{
    width: 100%;
    height: auto;
}

.cartitaTextImgContainer{
    width: 25%;
    height: auto;
    padding: 0 1rem 0 0;
}

.cartitaTextImg{
    width: 100%;
    height: auto;
    position: relative;
    top: 15%;
}

.cartitaImgContainer{
    width: 50%;
    height: auto;
}

.cartitaImg{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.cartitaImgPopUpContainer{
    width: 90%;
    max-height: auto;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    margin-left: 5%;
    transition: width 0.5s ease, background-color 1.5s ease;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.closePopUpCartita{
    position: relative;
    left: 99%;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.cartitaImgPopUp{
    width: 80%;
    height: auto;
    align-self: center;
    position: relative;
    bottom: 7rem;
    margin: auto;
}

@media screen and (max-width: 1360px){
    .cartitaTitleImg{
        width: 35%;
        height: auto;
        align-self: flex-start;
        position: relative;
        bottom: 80px;
    }
}

