.dibusGeneralContainer{
    width: 100%;
    height: auto;
    text-align: center;
}

.dibusContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.DibusTitleImgContainer{
    width: 100%;
    height: auto;
    position: relative;
    right: 25%;
    padding: 1rem 0 1rem 0;
}

.DibusTitleImg{
    width: 50%;
    height: auto;
}

.DibusTextImgContainer{
    width: 100%;
    height: auto;
    position: relative;
    right: 25%;
    padding: 0 0 3rem 0;
}

.DibusTextImg{
    width: 25%;
    height: auto;
}

.DibusCenterLineImgContainer{
    width: 100%;
    height: auto;
    position: relative;
    right: 30%;
}

.DibusCenterLineImg{
    width: 8%;
    height: auto;
}

.DibusAudioAndTextImgContainer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DibusSectionPlayerContainer{
    width: 50%;
    height: auto;
    padding: 5% 0 0 20%;
    position: relative;
    right: 9%;
}

.DibusSectionPlayer{
    //width: 100%;
    -webkit-animation: dibusAnimatePlayer 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
    @keyframes dibusAnimatePlayer {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
    
        }
    }
}

.DibusTextImg2ContainerPlayer{
    width: 100%;
    height: auto;
    position: relative;
    right: 20%;
}

.DibusTextImg2Player{
    width: 100%;
    height: auto;
}

.DibusAudioWppImgContainer{
    width: 50%;
    height: auto;
    position: relative;
    right: 9%;
    padding: 3rem 0 3rem 12rem;
}

.DibusAudioWppImg{
    // width: 20%;
    // height: auto;
    cursor: pointer;
    -webkit-animation: dibusAnimateAudioImg 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
    @keyframes dibusAnimateAudioImg {
        0% {
            width: 0%;
        }
        100% {
            width: 25%;
    
        }
    }
}

.DibusTextImg2Container{
    width: 100%;
    height: auto;
    position: relative;
    right: 10%;
}

.DibusTextImg2{
    width: 100%;
    height: auto;
}


.DibusCenterLineImg2Container{
    width: 100%;
    height: auto;
    position: relative;
    right: 25%;
}

.DibusCenterLineImg2{
    width: 20%;
    height: auto;
}


.DibusComputerImgContainer{
    width: 100%;
    height: auto;
    padding: 2rem 0 2rem 0;
}

.DibusComputerImg{
    width: 40%;
    height: auto;
}

.DibusTextImg3Container{
    width: 100%;
    height: auto;
}

.DibusTextImg3{
    width: 50%;
    height: auto;
}

.DibusCenterLineImg3Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 10%;
    padding: 3rem 0 3rem 0;
}

.DibusCenterLineImg3{
    width: 25%;
    height: auto;
}

.PlayerDibusTextAndAudioImg4{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.PlayerDibusTextImg4Container{
    width: 50%;
    height: auto;
    position: relative;
    left: 10%;
    padding: 3rem 0 3rem 0;
}

.PlayerDibusTextImg4{
    width: 100%;
    height: auto;
}

.PlayerDibusSectionContainer2{
    width: 50%;
    height: auto;
    position: relative;
    right: 3%;
    padding: 6rem 0 3rem 0;
}

.PlayerDibusSection2{
    -webkit-animation: dibusAnimatePlayer2 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
    @keyframes dibusAnimatePlayer2 {
        0% {
            width: 0%;
        }
        100% {
            width: 50%;
    
        }
    }
}


.DibusTextAndAudioImg4{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DibusTextImg4Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 10%;
    padding: 3rem 0 3rem 0;
}

.DibusTextImg4{
    width: 100%;
    height: auto;
}

.DibusAudioWppImg2Container{
    width: 100%;
    height: auto;
    position: relative;
    right: 3%;
    padding: 3rem 0 3rem 0;
}

.DibusAudioWppImg2{
    //width: 20%;
    //height: auto;
    cursor: pointer;
    -webkit-animation: dibusAnimatAudioImg2 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
    @keyframes dibusAnimatPlayer2 {
        0% {
            width: 0%;
        }
        100% {
            width: 20%;
        }
    }
}

.DibusLinesAndInfoImg4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DibusCenterLinesInfoImgContainer{
    width: 100%;
    height: auto;
    padding: 3rem 0 3rem 0;
}

.DibusCenterLinesInfoImg{
    width: 100%;
    height: auto;
    position: relative;
    left: 40%;
}

.DibusTextImg5Container{
    width: 100%;
    height: auto;
    //padding: 30rem 0 0 0;
    position: relative;
    right: 10%;
    bottom: 7rem;
    top: 25rem;
}

.DibusTextImg5{
    width: 100%;
    height: auto;
}



.PlayerDibusAudioTextAndImgContainer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3rem 0 0 0;
}

.PlayerDibusAudioWppImg3Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 6%;
    top: 2rem;
}

.PlayerDibusAudioWppImg3{
    width: 50%;
    //height: auto;
    cursor: pointer;
    transition: width 0.5s ease;
    -webkit-animation: dibusAnimatPlayer3 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
    @keyframes dibusAnimatPlayer3 {
        0% {
            width: 0%;
        }
        100% {
            width: 50%;
        }
    }
}

.PlayerDibusTextImg6Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 3%;
}

.PlayerDibusTextImg6{
    width: 100%;
    height: auto;
}

.DibusAudioTextAndImgContainer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3rem 0 0 0;
}

.DibusAudioWppImg3Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 6%;
}

.DibusAudioWppImg3{
    width: 20%;
    height: auto;
    cursor: pointer;
}

.DibusTextImg6Container{
    width: 100%;
    height: auto;
    position: relative;
    left: 3%;
}

.DibusTextImg6{
    width: 100%;
    height: auto;
}


.DibusImgPopUpContainer{
    width: 90%;
    max-height: auto;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    margin-left: 5%;
    transition: width 0.5s ease, background-color 1.5s ease;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.closePopUpDibus{
    position: relative;
    left: 99%;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.DibusWorksImgPopUp{
    width: 50%;
    height: auto;
    align-self: center;
    margin-left: 25%;
}

.DibusWorksImgContainer{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 5rem;
}

.DibusWorksImg{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.DibusCenterLineImg4Container{
    width: 100%;
    height: auto;
    position: relative;
    right: 17%;
    bottom: 10rem;
}

.DibusCenterLineImg4{
    width: 20%;
    height: auto;
}

@media screen and (max-width: 1360px) {

    .DibusAudioWppImgContainer{
        width: 50%;
        height: auto;
        position: relative;
        right: 9%;
        padding: 3rem 0 3rem 8rem;
    }

    .DibusTextImg5Container{
        width: 100%;
        height: auto;
        padding: 15rem 0 0 0;
        position: relative;
        right: 10%;
    }
    
    .DibusTextImg5{
        width: 100%;
        height: auto;
    }

    .DibusAudioWppImg3Container{
        width: 100%;
        height: auto;
        position: relative;
        left: 6%;
        bottom: 5rem;
    }
    
    .DibusAudioWppImg3{
        width: 20%;
        height: auto;
        cursor: pointer;
    }
}